In [1]:
import pandas as pd
import numpy as np

In [2]:
df_im = pd.read_fwf('../raw_data/images.csv')

In [3]:
df_im['image_name| comment_number| comment'][1]

'1000092795.jpg| 1| Two young , White males are outside near many bushes .'

In [4]:
df_im['image_name| comment_number| comment'][0][18:]

' Two young guys with shaggy hair look at their hands while hanging out in the yard .'

In [5]:
df_im['image_name'] = df_im['image_name| comment_number| comment'].apply(lambda x: x[:14])

In [6]:
df_im['comment_number'] = df_im['image_name| comment_number| comment'].apply(lambda x: x[16:17])

In [7]:
df_im['comment'] = df_im['image_name| comment_number| comment'].apply(lambda x: x[17:])

In [8]:
type(df_im.image_name[0])

str

In [9]:
df_im.head(6)

,image_name| comment_number| comment,Unnamed: 1,image_name,comment_number,comment
0,1000092795.jpg| 0| Two young guys with shaggy ...,NaN,1000092795.jpg,0,| Two young guys with shaggy hair look at thei...
1,"1000092795.jpg| 1| Two young , White males are...",NaN,1000092795.jpg,1,"| Two young , White males are outside near man..."
2,1000092795.jpg| 2| Two men in green shirts are...,NaN,1000092795.jpg,2,| Two men in green shirts are standing in a ya...
3,1000092795.jpg| 3| A man in a blue shirt stand...,NaN,1000092795.jpg,3,| A man in a blue shirt standing in a garden .
4,1000092795.jpg| 4| Two friends enjoy time spen...,NaN,1000092795.jpg,4,| Two friends enjoy time spent together .
5,10002456.jpg| 0| Several men in hard hats are ...,NaN,10002456.jpg|,,Several men in hard hats are operating a giant...

In [10]:
df_im['image_name'].unique()

array(['1000092795.jpg', '10002456.jpg| ', '1000268201.jpg', ...,
       '997876722.jpg|', '99804383.jpg| ', '998845445.jpg|'], dtype=object)

In [11]:
df = df_im['image_name'].unique()
df = pd.DataFrame(df)

In [12]:
data = df_im.groupby('image_name')
data = pd.DataFrame(data)

In [13]:
df.shape[0]

32535

In [14]:
data[1][2]['comment'][9+5]

'| A girl going into a wooden building .'

In [15]:
longest_comment = []
for i in range(df.shape[0]):
    longest_comment.append(max(data[1][i]['comment'], key=len))

In [16]:
comments_5 = []
for i in range(df.shape[0]):
    comments_5.append(data[1][i]['comment'])

In [17]:
'''comment = []
        comment.append(data[1][i]['comment'][c])
        comments_5.append(comment)
'''

"comment = []\n        comment.append(data[1][i]['comment'][c])\n        comments_5.append(comment)\n"

In [18]:
df['longest_comment']= np.array(longest_comment)
df['comments_5']= np.array(comments_5)

In [19]:
df = df.rename(
    columns={0:"image_name"})

In [20]:
df

,image_name,longest_comment,comments_5
0,1000092795.jpg,| Two young guys with shaggy hair look at thei...,0 | Two young guys with shaggy hair look at...
1,10002456.jpg|,Several men in hard hats are operating a giant...,5 Several men in hard hats are operating a ...
2,1000268201.jpg,| A child in a pink dress is climbing up a set...,10 | A child in a pink dress is climbing up...
3,1000344755.jpg,| Someone in a blue shirt and hat is standing ...,15 | Someone in a blue shirt and hat is sta...
4,1000366164.jpg,"| Two men , one in a gray shirt , one in a bla...","20 | Two men , one in a gray shirt , one in..."
...,...,...,...
32530,997338199.jpg|,"Woman writing on a pad in room with gold , de...",158890 Woman writing on a pad in room with...
32531,997722733.jpg|,A person in a red shirt climbing up a rock fa...,158895 A person in a red shirt climbing up...
32532,997876722.jpg|,Two male construction workers are working on ...,158900 Two male construction workers are w...
32533,99804383.jpg|,An older busker in glasses plays an Eastern st...,158905 An older busker in glasses plays an ...
32534,998845445.jpg|,A man in shorts and a Hawaiian shirt leans ov...,158910 A man in shorts and a Hawaiian shir...

In [21]:
df['image_name'] = df['image_name'].str.split('.').map(lambda x: x[0])
df['longest_comment'] = df['longest_comment'].apply(lambda x: x.replace('|', '') )

In [22]:
df['comments_5'][5]

25    | Two people in the photo are playing the guit...
26    | A man in green holds a guitar while the othe...
27       | A man is fixing the guitar players costume .
28           | a guy stitching up another man 's coat .
29                        | the two boys playing guitar
Name: comment, dtype: object

In [23]:
#df['comments_5'] = df['comments_5'].apply(lambda x: x.replace('|', '') )

In [24]:
df.to_csv("../raw_data/images_name.csv",index=False)