In [1]:
pip install rake-nltk

Collecting rake-nltk
  Downloading rake_nltk-1.0.6-py3-none-any.whl (9.1 kB)
Collecting nltk<4.0.0,>=3.6.2
  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 5.3 MB/s
Collecting regex>=2021.8.3
  Downloading regex-2022.3.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (749 kB)
     |████████████████████████████████| 749 kB 22.8 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (4.62.3)
Installing collected packages: regex, nltk, rake-nltk
  Attempting uninstall: regex
    Found existing installation: regex 2019.12.20
    Uninstalling regex-2019.12.20:
      Successfully uninstalled regex-2019.12.20
  Attempting uninstall: nltk
    Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed nltk-3.7 rake-nltk-1.0.6 regex-2022.3.2

In [2]:
from rake_nltk import Rake

In [5]:
from google.colab import auth
auth.authenticate_user()
import pandas as pd
import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)
worksheet = gc.open('images_name.csv').sheet1
rows = worksheet.get_all_values()
print(rows)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [6]:
df = pd.DataFrame.from_records(rows)
df.head(10)

            0  ...                                                  2
0  image_name  ...                                         comments_5
1  1000092795  ...  0    | Two young guys with shaggy hair look at...
2    10002456  ...  5    Several men in hard hats are operating a ...
3  1000268201  ...  10    | A child in a pink dress is climbing up...
4  1000344755  ...  15    | Someone in a blue shirt and hat is sta...
5  1000366164  ...  20    | Two men , one in a gray shirt , one in...
6  1000523639  ...  25    | Two people in the photo are playing th...
7  1000919630  ...  30    | A man sits in a chair while holding a ...
8    10010052  ...  35    A girl is on rollerskates talking on her...
9  1001465944  ...  40    | An asian man wearing a black suit stan...

[10 rows x 3 columns]

In [9]:
comments_5 = df[2]
comments_5

0                                               comments_5
1        0    | Two young guys with shaggy hair look at...
2        5    Several men in hard hats are operating a ...
3        10    | A child in a pink dress is climbing up...
4        15    | Someone in a blue shirt and hat is sta...
                               ...
32531    158890     Woman writing on a pad in room with...
32532    158895     A person in a red shirt climbing up...
32533    158900     Two male construction workers are w...
32534    158905    An older busker in glasses plays an ...
32535    158910     A man in shorts and a Hawaiian shir...
Name: 2, Length: 32536, dtype: object

In [7]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [11]:
rake_nltk_var = Rake()
keywords = []

for text in comments_5:
  rake_nltk_var.extract_keywords_from_text(text)
  keyword_extracted = rake_nltk_var.get_ranked_phrases()
  keywords.append(keyword_extracted)

print(keywords)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [15]:
df['keywords'] = keywords

In [16]:
df

                0  ...                                           keywords
0      image_name  ...                                       [comments_5]
1      1000092795  ...  [two friends enjoy time spent together, outsid...
2        10002456  ...  [giant ... 6 workers look, ... 7 two men worki...
3      1000268201  ...  [w ... 12, set ... 11, pla ... 13, wooden play...
4      1000344755  ...  [ladder cleani ... 19, tal ... 18, ladde ... 1...
...           ...  ...                                                ...
32531   997338199  ...  [person stands near golden walls, woman standi...
32532   997722733  ...  [rock climbing w ... 158897, rock fa ... 15889...
32533   997876722  ...  [158900 two male construction workers, mixing ...
32534    99804383  ...  [store performing w ... 158907, storefront acc...
32535   998845445  ...  [hawaiian shirt leans ov ... 158911, hi ... na...

[32536 rows x 4 columns]