## Quotes dataset analysis

In [4]:
import pandas as pd

In [5]:
file = "../raw_data/quotes.csv"
quotes = pd.read_csv(file, decimal=",")
quotes.head(3)

,quote,author,category
0,"I'm selfish, impatient and a little insecure. ...",Marilyn Monroe,"attributed-no-source, best, life, love, mistak..."
1,You've gotta dance like there's nobody watchin...,William W. Purkey,"dance, heaven, hurt, inspirational, life, love..."
2,You know you're in love when you can't fall as...,Dr. Seuss,"attributed-no-source, dreams, love, reality, s..."

In [6]:
quotes.shape

(499709, 3)

In [7]:
quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499709 entries, 0 to 499708
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   quote     499708 non-null  object
 1   author    497956 non-null  object
 2   category  499646 non-null  object
dtypes: object(3)
memory usage: 11.4+ MB

In [16]:
count_per_author = quotes.groupby(quotes['author']).count()
len(count_per_author)

117296

In [17]:
quotes['list_tags'] = quotes['category'].copy()

In [18]:
tags_list = []
for index,row in quotes.iterrows():
    

txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

In [25]:
number_of_tags = []
for i in tags_list:
    number_of_tags.append(len(str(i).split(',')))

In [27]:
number_of_tags

499709