In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../raw_data/images_comments.csv")
df.head()

   image_name                                            comment
0  1000092795   Two young guys with shaggy hair look at their...
1  1000092795   Two young , White males are outside near many...
2  1000092795   Two men in green shirts are standing in a yard .
3  1000092795       A man in a blue shirt standing in a garden .
4  1000092795            Two friends enjoy time spent together .

In [7]:
df['comment'] = df['comment'].apply(lambda x: x.replace(',',""))

In [8]:
df.head()

   image_name                                            comment
0  1000092795   Two young guys with shaggy hair look at their...
1  1000092795   Two young  White males are outside near many ...
2  1000092795   Two men in green shirts are standing in a yard .
3  1000092795       A man in a blue shirt standing in a garden .
4  1000092795            Two friends enjoy time spent together .

In [9]:
df.to_csv('../raw_data/images_comments.csv')