In [1]:
BUCKET_NAME = 'quotes_for_posts_783'

In [3]:
BUCKET_TRAIN_DATA_PATH_1= 'raw_data/image_dataset/images_name.csv'

In [5]:
import pandas as pd
df = pd.read_csv(f'gs://{BUCKET_NAME}/{BUCKET_TRAIN_DATA_PATH_1}')
df.tail(10)

,image_name,longest_comment,comments_5
32525,9950913,embers of a strike at Yale University .,158869 embers of a strike at Yale Universit...
32526,996089206,"A older man with a white shirt , golf cap and...","158870 A older man with a white shirt , go..."
32527,996712323,A man laying on the floor as he works on an u...,158875 A man laying on the floor as he wor...
32528,99679241,A gray bird stands majestically on a beach whi...,158880 A gray bird stands majestically on a...
32529,996962407,a man with a wheelbarrow is standing outside ...,158885 a man with a wheelbarrow is standin...
32530,997338199,"Woman writing on a pad in room with gold , de...",158890 Woman writing on a pad in room with...
32531,997722733,A person in a red shirt climbing up a rock fa...,158895 A person in a red shirt climbing up...
32532,997876722,Two male construction workers are working on ...,158900 Two male construction workers are w...
32533,99804383,An older busker in glasses plays an Eastern st...,158905 An older busker in glasses plays an ...
32534,998845445,A man in shorts and a Hawaiian shirt leans ov...,158910 A man in shorts and a Hawaiian shir...