In [1]:
import pandas as pd
import numpy as np

In [2]:
df_im = pd.read_fwf('../raw_data/images.csv')

In [3]:
df_im['image_name| comment_number| comment'][1]

'1000092795.jpg| 1| Two young , White males are outside near many bushes .'

In [4]:
df_im['image_name| comment_number| comment'][0][18:]

' Two young guys with shaggy hair look at their hands while hanging out in the yard .'

In [5]:
df_im['image_name'] = df_im['image_name| comment_number| comment'].apply(lambda x: x[:14])

In [6]:
df_im['comment_number'] = df_im['image_name| comment_number| comment'].apply(lambda x: x[16:17])

In [7]:
df_im['comment'] = df_im['image_name| comment_number| comment'].apply(lambda x: x[17:])

In [8]:
type(df_im.image_name[0])

str

In [9]:
df_im['image_name'].unique()

array(['1000092795.jpg', '10002456.jpg| ', '1000268201.jpg', ...,
       '997876722.jpg|', '99804383.jpg| ', '998845445.jpg|'], dtype=object)

In [10]:
df = df_im['image_name'].unique()
df = pd.DataFrame(df)

In [11]:
data = df_im.groupby('image_name')
data = pd.DataFrame(data)

In [12]:
df.shape[0]

32535

In [13]:
longest_comment = []
for i in range(df.shape[0]):
    longest_comment.append(max(data[1][i]['comment'], key=len))

In [14]:
df['longest_comment']= np.array(longest_comment)

In [15]:
df = df.rename(
    columns={0:"image_name"})

In [16]:
df

           image_name                                    longest_comment
0      1000092795.jpg  | Two young guys with shaggy hair look at thei...
1      10002456.jpg|   Several men in hard hats are operating a giant...
2      1000268201.jpg  | A child in a pink dress is climbing up a set...
3      1000344755.jpg  | Someone in a blue shirt and hat is standing ...
4      1000366164.jpg  | Two men , one in a gray shirt , one in a bla...
...               ...                                                ...
32530  997338199.jpg|   Woman writing on a pad in room with gold , de...
32531  997722733.jpg|   A person in a red shirt climbing up a rock fa...
32532  997876722.jpg|   Two male construction workers are working on ...
32533  99804383.jpg|   An older busker in glasses plays an Eastern st...
32534  998845445.jpg|   A man in shorts and a Hawaiian shirt leans ov...

[32535 rows x 2 columns]

In [17]:
df['image_name'] = df['image_name'].apply(lambda x: x.replace('|', '') )
df['longest_comment'] = df['longest_comment'].apply(lambda x: x.replace('|', '') )

In [19]:
df.to_csv("../raw_data/images_name.csv",index=False)